debian/.debhelper/
debian/files
debian/*mockpp*/
debian/*.log
debian/*.substvars
debian/autoreconf.after
debian/autoreconf.before
.travis.bintray.json
.pc/
*~
config.h.in
Makefile.in
a.out
autom4te.cache/
compile
config.guess
config.log
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver
