debian/.debhelper/
debian/files
debian/*mockpp*/
debian/*.log
debian/*.substvars
debian/autoreconf.after
debian/autoreconf.before
.travis.bintray.json
.pc/
*~
config.h.in
Makefile.in
a.out
autom4te.cache/
compile
config.guess
config.log
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver
*.lo
*.a
*.la
*.o
*.so*
.libs/
Makefile
aclocal.m4
config.h
config.status
config/cppunit.m4
config/libtool.m4
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
libtool
mockpp.doxygen
mockpp.pc
mockpp.spec
stamp-h1
debian/tmp/
mockpp/examples/mock_greeter
mockpp/examples/tutorial/basicmock
mockpp/examples/tutorial/chainmock
mockpp/examples/tutorial/chainmock2
mockpp/examples/tutorial/cppunit
mockpp/examples/tutorial/poormock
mockpp/examples/tutorial/poormock-se
mockpp/examples/tutorial/verifying
mockpp/examples/tutorial/visitmock
mockpp/examples/tutorial/visitmock2
